<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="author" content="Ajay Singh Koranga">
  <meta name="game devloper" content="Robin Anttal">
  <meta name="game backend" content="Ajay Singh Koranga">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NPAT | {{ title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   <!-- Font Awesome -->
    
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);' media='screen' rel='stylesheet' type='text/css'/>
<link href='../min/bundle/d9ba202_layout-bundle.css' media='screen' rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">



  <script src="../min/bundle/376feec_js-layout-header-bundle.js"></script>
  <link rel="stylesheet" href="../bootstrap/css/bootstrapValidator.min.css">
    <script src="../bootstrap/js/bootstrapValidator.min.js"></script>  
  <script>
    $.widget.bridge('uibutton', $.ui.button);
  </script>
  <script>
    $(document).ajaxError(function (xhr, status, error) {
      if(status.status==401){
         window.location.href="401"
      }
      else{
      showMessage('Oops, something went wrong. Please try again later.', "error");
      setTimeout(function () { location.reload(); }, 2000);
      }
      
    });
  </script>
 
</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="../dashboard" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <i class="fa fa-gamepad" style="font-size:25px;"></i></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" style="font-size:30px;">
         NPAT
        </span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <span class="hidden-xs"><strong><i class="fa fa-sign-out" style="font-size:15px;"></i></strong></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                 <i class = "fa fa-gamepad" style="font-size:120px;"></i>
                  <p>
                    <strong>NPAT</strong>
                  </p>
                </li>

                <li class="user-footer">
                  <div class="pull-left">
                  </div>
                  <div class="pull-right">
                    <a href="/logout" class="btn btn-primary btn-block btn-md">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
<!--     <link rel="stylesheet" href="../stylesheets/theme-default.css">

            <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control" data-box="#mb-signout"><span style="font-size:15px;" class="fa fa-sign-out" onclick></span></a>
                    </li> -->



<!-- 
 <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>
                        <p>Press No if you want to continue work. Press Yes to logout.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="logout" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


          </ul>
        </div>

      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <input type="hidden" id="hdnPageName" value="{{page_name}}">
        <ul class="sidebar-menu">
          <!-- {{#if this.user.isSuperAdmin }} -->
          <li class="treeview" id="dashboard">
            <a href="../dashboard">
              <i class="fa fa-dashboard"></i>
              <span>dashboard</span>
            </a>
          </li>
          <!-- {{else}} -->
          <li class="treeview" id="list_of_projects">
            <a href="../name">
              <!-- <i class="fa fa-child"></i> -->
             <i class="fa fa-child" style="font-size:15px;"></i>
              <span style="font-size:17px;">Name</span>
              <!-- <i class="fa fa-child" style="font-size:20px;"></i> -->
              </span>
            </a>
          </li>
          <li class="treeview" id="list_of_projects">
            <a href="../place">
              <i class="glyphicon glyphicon-globe" style="font-size:15px;"></i>
              <span style="font-size:17px;">&nbspPlace</span>
              <!-- <i class="glyphicon glyphicon-globe" style="font-size:20px;"></i> -->
              </span>
            </a>
          </li>

          <li class="treeview" id="list_of_projects">
            <a href="../animal">
              <i class="fa fa-paw" style="font-size:15px;"></i>
              <span style="font-size:17px;">&nbspAnimal</span>
              </span>
            </a>
          </li>
          
          <li class="treeview" id="list_of_projects">
            <a href="../thing">
              <i class="fa fa-shopping-bag" style="font-size:15px;"></i>
              <span style="font-size:17px;">&nbspThing</span>
              
              </span>
            </a>
          </li>

          <li class="treeview" id="list_of_projects">
            <a href="../plant">
             <i class="glyphicon glyphicon-leaf" style="font-size:15px;"></i>
              <span style="font-size:17px;">&nbspPlant</span>
              
              </span>
            </a>
          </li>
        <!-- {{/if}} -->
         
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          {{title}}
        </h1>

        <div class="alert alert-success alert-dismissable" id="alert_box" style="display:none">
          <a id="alert_close" href="#" class="close" aria-label="close">&times;</a>
          <strong id="span_msg"></strong>
      </section>

      <!-- Main content -->
      <section class="content">
        {{{body}}}
      </section>
      <!-- /.content -->
      </div>


      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li>
            <a href="#control-sidebar-home-tab" data-toggle="tab">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            <a href="#control-sidebar-settings-tab" data-toggle="tab">
              <i class="fa fa-gears"></i>
            </a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->
            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>

                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->
          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>

                <p>
                  Other sets of options are available
                </p>
              </div>
              <!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>

                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div>
              <!-- /.form-group -->

              <h3 class="control-sidebar-heading">Chat Settings</h3>

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div>
              <!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div>
              <!-- /.form-group -->

              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript:void(0)" class="text-red pull-right">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </label>
              </div>
              <!-- /.form-group -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <div class="modal fade" id="modalPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
          </div>
        </div>

      </div>
    </div>

    <div id="loader_pnl" class="loader_bg" style="display: none;">
      <div class="main_loader_box">
        <div class="circle"></div>
        <div class="circle1"></div>
      </div>
    </div>

    <a href="#" id="btnReadMePopup" data-toggle="modal" data-target="#ReadMePopup" style="display:none;"></a>

    <div class="modal fade" id="ReadMePopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
              <label id="lblRepoName"></label>/readme.md</h4>
          </div>
          <div class="modal-body">
            <div id="renderHtml"></div>
          </div>

        </div>
      </div>
    </div>


   
 <script src="../min/bundle/82bbb78_js-layout-bottom-section-bundle.js"></script>

   
    <script>
      var callback = '', cancel_callback;
      $(document).ready(function () {
        highLightLeftNavigation();
        $("#confirmModal").on("hidden.bs.modal", function () {
          $(".check").prop('checked', false);
        });
        $('#btnModalOk').click(function (event) {
          // window[ method_name](arg1);
          $('#confirmModal').modal('hide');
          if (callback != '')
            window[callback]();
          cancel_callback = callback = '';
        });

        $('#alert_close').click(function (event) {
          $("#alert_box").fadeOut(2000);
        });

        $('#btnModalClose').click(function (event) {
          if (cancel_callback != '')
            window[cancel_callback]();
          cancel_callback = callback = '';
        });
      });

      function showConfirmBox(title, message, callback_fn) {
        callback = callback_fn;
        $('#modalTitle').text(title);
        $('#modalMsg').text(message);
        $('#confirmModal').modal('show');
      }

      function hideConfirmBox() {
        $('#confirmModal').modal('hide');
      }

      function showMessage(msg, type) {
        var className = type == "success" ? "alert-success" : "alert-danger";
        $("#span_msg").html(msg);
        $("#alert_box").removeClass("alert-success alert-danger");
        $("#alert_box").addClass(className);
        $("#alert_box").fadeIn(2000);
        setTimeout(function () {
          $("#alert_box").fadeOut(2000);
        }, 6000)
      }
      
      function highLightLeftNavigation() {
        var PageName = $('#hdnPageName').val();
        $(".sidebar-menu li").removeClass('active');
        $('#' + PageName).addClass('active');

      }
    </script>
    
  
    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="modalTitle">Warning</h4>
          </div>
          <div class="modal-body">
            <span id="modalMsg"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalClose">Close</button>
            <button type="button" class="btn btn-primary" id="btnModalOk">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Modal -->
</body>

</html>